/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or any plugin's vendor/assets/stylesheets
 * directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear
 * at the bottom of the compiled file so the styles you add here take
 * precedence over styles defined in any other CSS/SCSS files in this
 * directory. Styles in this file should be added after the last require_*
 * statement. It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* line 19, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
body, body > p, body > ol, body > ul, body > td {
  margin: 8px !important; }

/* line 21, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
#banner {
  position: relative;
  min-height: 40px;
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center; }
  /* line 31, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
  #banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 192px; }

/* line 39, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif; }

/* line 48, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
#notice:empty {
  display: none; }

/* line 52, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
#columns {
  background: #141;
  display: flex; }
  /* line 56, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
  #columns #main {
    padding: 1em;
    background: white;
    flex: 1; }
  /* line 62, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
  #columns #side {
    padding: 1em 2em;
    background: #141; }
    /* line 66, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
    #columns #side form, #columns #side div {
      display: inline; }
    /* line 70, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
    #columns #side input {
      font-size: small; }
    /* line 74, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
    #columns #side #cart {
      font-size: smaller;
      color: white; }
      /* line 78, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
      #columns #side #cart table {
        border-top: 1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px; }
    /* line 85, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
    #columns #side ul {
      padding: 0; }
      /* line 88, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
      #columns #side ul li {
        list-style: none; }
        /* line 91, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
        #columns #side ul li a {
          color: #bfb;
          font-size: small; }

@media all and (max-width: 800px) {
  /* line 101, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
  #columns {
    flex-direction: column-reverse; } }

@media all and (max-width: 500px) {
  /* line 107, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
  #banner {
    height: 1em; }
  /* line 111, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
  #banner .title {
    display: none; } }

/* line 117, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
.depot_form fieldset {
  background: #efe; }
  /* line 120, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
  .depot_form fieldset legend {
    color: #dfd;
    background: #141;
    font-family: sans-serif;
    padding: 0.2em 1em; }
  /* line 127, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
  .depot_form fieldset div {
    margin-bottom: 0.3em; }

/* line 133, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
.depot_form form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block; }

/* line 142, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
.depot_form form select, .depot_form form textarea, .depot_form form input {
  margin-left: 0.5em; }

/* line 146, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
.depot_form form .submit {
  margin-left: 4em; }

/* line 150, C:/Users/Dwayne/web/depot/app/assets/stylesheets/application.css.scss */
.depot_form form br {
  display: none; }

/*# sourceMappingURL=application.css.css.map */
